<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Vending Machine</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
	<div class="container">
		<div class="w3-container w3-green">
			<h1>Vending Machine Program</h1>
			<p>Please continue as either a user or admin</p>
		</div>
		<div class="w3-row-padding">
			<div class="w3-third">
				<h3>
					<button type="button">
						<a href="">Continue as User</a>
					</button>
				</h3>
				<p>Find a vending machine item you'd like to buy, or simply browse!</p>
			</div>
		
			<div class="w3-third">
				<h3>
					<button type="button">
						<a href="">Continue as Admin</a>
					</button>
				</h3>
				<p>For employee use, checking sales for machines and other administrative features.</p>
			</div>
			<div class="w3-third">
				<h3>
					<button type="button">
						<a href="">View the Source</a>
					</button>
				</h3>
				<p>Created by:</p>
				<ul>
					<li>Levi Shepherd</li>
					<li>Isaiah Wertz</li>
					<li>Tyler Wuebker</li>
				</ul>
			</div>
		</div>
	</div>
<!-- Existing Index page -->
<a href="selection">Make a selection</a>
<a href="balance">Check user balance</a>
<a href="viewAll">View all Vendors</a><br />
<br />
<a href="viewAllAdmin">Admin</a>
<br />
</body>
</html>