<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Vending Machine - User</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
	<div class="container">
		<form>
<table>
<tr th:each="currentMachine : ${machines}">
	<td th:text="${currentMachine.id}" />
	<td th:text="${currentMachine.details}" />
	<td><a th:href="@{/viewItems/{id}(id=${currentMachine.id})}">View Vendor Items</a></td>
</tr>
</table>
</form>
<br />
<a href="../index">Back To Index</a>
<br />
	</div>
</body>
</html>